@model IList<ControleEstoqueNETFramework.Models.CategoriaProduto>

<table class="table table-bordered">
    <caption>Lista de categorias</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>DESCRIÇÃO</th>
        </tr>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.Nome</td>
                <td>@categoria.Descricao</td>
            </tr>
        }
</table>
